---
layout: index
---
<div class="archive-list">
  <div class="inner">
    <div class="archives">
      {% for post in site.posts %}
        {% capture y %}{{ post.date | date:"%Y" }}{% endcapture %}
        {% capture m %}{{ post.date | date:"%m" }}{% endcapture %}
        {% if year != y %}
          {% assign year = y %}
          {% assign month = null %}
          <h2>{{ y }}年</h2>
        {% endif %}
        {% if month != m %}
          {% assign month = m %}
          <h3>{{ m }}月</h3>
        {% endif %}
          <li><span class="post-item-date">{{ post.date | date:"%Y-%m-%d" }}</span><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </div>
  </div>
</div>