---
layout: default
---
<div class="cate-list">
{% for category in site.categories %}
  <div class="categories">
      <h2 id="{{ category | first }}">{{ category | first }}<span class="cate-size">{{ category | last | size }}</span></h2>
      {% for post in category.last %}
      <li>
          <div>
              <p class="post-date">{{ post.date | date: "%Y-%m-%d" }}</p>
              <h3><a class="post-title" href="{{ post.url }}">{{ post.title }}</a></h3>
              <div class="post-tags">
                  {% for tag in post.tags %}
                  <a href="/tag.html?{{ site.param-tag }}={{ tag }}">{{ tag }}</a>
                  {% endfor %}
              </div>  
          </div>
      </li> 
      {% endfor %}
  </div>
{% endfor %}  
</div>                       