html {}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/200% "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
    word-wrap: break-word;
    background-color: #fff;
    overflow-x: hidden;
    /* background: url("/public/images/bg9.jpg") no-repeat fixed 0 0 / 100% 100% #fff; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #3e3b3f;
}

a:hover {
    color: #2fa691;
}

.clear {
    clear: both;
}

.navbar {
    background-color: #fcfcfc;
    height: 50px;
    border-top: 5px solid #2fa691;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 5px;
    overflow: hidden;
}

.container {
    margin-left: auto;
    margin-right: auto;
    min-width: 1090px;
    width: 72%;
}

#navbar {}

#navbar .logo {
    float: left;
    margin: 5px 0 0;
}

#navbar .menu {
    position: absolute;
    right: 5%;
    top: 17px;
}
.menu a {
    padding: 0 12px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    border: 1px solid #666666;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 8px;
}
#navbar .nav {
    float: left;
    margin: 12px 4px 12px 10px;
}

#navbar #search {
    float: right;
    margin: 13px 10px 0 0;
}

#navbar .nav li {
    float: left;
    text-align: center;
    padding: 0 15px;
    font-size: 16px;
}

#navbar .nav li.on a {
    color: #2FA691;
    font-weight: bold;
}

#search input {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #555;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px;
    width: 210px;
}

.notice {
    height: 50px;
    width: 200px;
    margin: 0 auto;
    background: rgba(30, 30, 30, 0.3);
    display: none;
}

.main {
    margin-bottom: 5px;
    min-height: 500px;
}

.left {
    float: left;
    width: 10%;
    height: 100px;
}

.middle {
    float: left;
    width: 60%;
    margin-right: 8%;
}

.right {
    float: left;
    width: 15%;
}

.footer {
    width: 100%;
    background-color: #333;
    box-shadow: 0 0 6px #333;
}

.footer-inner {
    margin: 0 auto;
    width: 80%;
}

.footer-category {
    border-bottom: 1px solid #000000;
    padding: 35px 95px 25px 100px;
}

.footer-category a {
    padding: 0 12px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    border: 1px solid #666666;
    border-radius: 3px;
    color: #ccc;
    margin-right: 5px;
    margin-bottom: 8px;
}

.footer-category a:hover {
    background-color: #2fa691;
    border-color: #2fa691;
    box-shadow: 0 0 6px #2fa691;
}

.footer_info {
    border-top: 1px solid #484848;
    padding: 2px 50px;
    color: #000;
    text-align: center;
}

.friendly-links {
    font-size: 14px;
}

.friendly-links span {
    margin-right: 5px;
}

.friendly-links a {
    color: #000;
}

.friendly-links a:hover {
    color: #2fa691;
}

.friendly-links em {
    padding: 0 10px;
    font-style: normal;
}

.left .home {
    position: absolute;
}

.my_cate,
.my_tags,
.cate,
.tags {
    padding: 0 15px;
    text-align: center;
    position: relative;
}

.y {
    display: none;
}

.x {
    width: 120px;
    font-weight: bold;
    font-size: 16px;
}

.x a {
    padding: 5px 15px;
    margin-bottom: 1px;
    background-color: rgba(30, 30, 30, 0.03);
    display: block;
}

.x a.on {
    background-color: rgba(30, 30, 30, 0.3);
    color: #da6426;
}

.x a span {
    background-color: rgba(30, 30, 30, 0.4);
    color: #ccc;
    padding: 0px 7px;
    min-width: 10px;
    border-radius: 15px;
    float: right;
    font-size: 12px;
    text-align: center;
}

.delta,
.delta1 {
    border-style: dashed dashed solid dashed;
    border-width: 10px;
    left: 30px;
    overflow: hidden;
    position: absolute;
    height: 0;
    width: 0;
    display: none;
}

.delta {
    border-color: transparent transparent white transparent;
    top: 38px;
}

.delta1 {
    border-color: transparent transparent white transparent;
    top: 39px;
}

.y .y {
    position: absolute;
    left: 150px;
    top: -40px;
    text-align: middle;
    font-weight: normal;
    font-size: 12px;
    max-height: 260px;
    width: 280px;
    overflow: auto;
    z-index: 99;
}

.y .y a {
    padding: 5px 2px;
    display: block;
    border-bottom: 1px solid #eee;
    color: #999;
    background-color: white;
}

.y .y a.on,
.y .y a:hover {
    color: #da6426;
    background-color: #f6f6f6;
}

.y .y a.list_head {
    color: #fff;
    background-color: #666;
}

.info .avatar,
.info .introduce {
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}

.avatar a:hover {
    border-color: #da6426;
}

#avatar {
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #2fa691, 0 0 3px 3px #eee;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background: url('../images/avator.jpg');
}

.avatar h3 {
    color: #da6426
}

.introduce .cont {
    color: #ddd;
}

.goTop {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 50px;
    overflow: hidden;
    position: fixed;
    right: 30px;
    bottom: 100px;
    display: none;
}

#goTop_btn {
    background: url("../images/goTop.jpg") no-repeat scroll -50px 0 rgba(0, 0, 0, 0);
    display: block;
    height: 50px;
    width: 50px;
}

#goTop_btn:hover {
    background-position: 0 0;
}


/*side-bar*/

.shadow-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    visibility: hidden;
    z-index: 6;
    transition: all 500ms cubic-bezier(0.86, 0.01, 0.77, 0.78) 0s;
}

.shadow-screen.on {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
}

.side-bar {
    height: 100%;
    background-color: #000;
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px 20px 0 10%;
    z-index: 9999;
    text-align: right;
    overflow-x: hidden;
    overflow-y: auto;
    width: 20%;
    min-width: 200px;
    visibility: hidden;
    transition: all 500ms cubic-bezier(0.86, 0.01, 0.77, 0.78) 0s;
}

.side-bar.on {
    visibility: visible;
}

.side-bar a {
    color: #fff;
}

.side-bar a:hover {
    color: #2FA691;
}

#side-bar-close-btn {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
}

#menu-pages {
    font-size: 20px;
    font-weight: 800;
}

#menu-pages li {
    line-height: 30px;
}

#category h4,
#tag h4,
#comment h4 {
    color: #2FA691;
    font-weight: normal;
    font-size: 20px;
    padding: 5px 0;
}

#category {
    min-height: 20px;
    margin-top: 20px;
}

.list-content li {
    margin: 10px 15px 5px 0;
    line-height: 20px;
}

.list-content li a {}

.list-content li a span {
    margin-left: 2px;
    color: #999;
}

.cate-size {
    position: absolute;
    font-size: 8px;
    color: #999;
}

#tag {
    min-height: 20px;
    margin-top: 20px;
}

.tag-cloud {
    max-width: 200px;
    float: right;
}

.tag-cloud a {
    display: inline-block;
}

#comment {
    min-height: 20px;
    margin-top: 20px;
}

#comment li {
    display: inline-block;
}
