.posts {
    overflow: hidden;
    padding: 20px 10px;
}

.posts ul li {
    background-color: #fff;
    opacity: 0.9;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.posts h2 {
    font-size: 16px;
    font-weight: bold;
    word-break: break-all;
}

.posts .title-desc {
    color: #333;
    line-height: 2em;
}

.title-desc p,
.introduce p {
    text-indent: 2em;
    font-size: 14px;
}

.post_meta {
    font-family: Tahoma, "Microsoft Yahei", sans-serif;
    font-size: 12px;
    padding-top: 8px;
    height: 20px;
    color: #999;
    overflow: hidden;
}

.post_meta a {
    float: left;
    margin-right: 15px;
    color: #999;
}

.post_meta span {
    float: left;
    margin-right: 2px;
}

.post_tags a {
    margin: 0 12px 10px 0;
    padding: 0px 8px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    float: right;
}

.post_tags a:hover {
    background-color: #4d4d4d;
}

.page {
    text-align: center;
}

.page a,
.page span {
    padding: 20px;
    background-color: #fff;
    opacity: 0.9;
}
