<div class="footer-inner">
    <div class="footer-category">
      {% for category in site.categories %}
      <a href="/category.html?{{ site.param-cate }}={{ category | first }}">{{ category | first }}</a>
      {% endfor %}
    </div>
    <div class="footer_info">
        <div class="friendly-links">
            <span>友好链接</span><a>1111</a><a>22222222</a>
        </div>
        <div class="site-info">
          <p>© 2012-2014 gongvirgil.github.io</p>
        </div>
    </div>      
    <div class="tj"></div>
</div>