<div class=""></div>
<div class="home" id="home">
<div class="my_cate x">
  <a id="cate">目录树</a>
</div>
<div class="cate y">
  {% for category in site.categories %}
  <div class="x">
    <a id="{{ category | first }}"><span>{{ category | last | size }}</span>{{ category | first }}</a>
  </div>
  <div class="{{ category | first }} y {% if category.last.size > 8 %} scrollContent {% endif %}">
    <a class="list_head"><h3>{{ category | first }}</h3></a>
    {% for post in category.last %}
    <a href="{{ post.url }}">{{ post.title }}</a>
    {% endfor %}
  </div>
  {% endfor %}
</div>   
<div class="my_tags x">
  <a id="tags">标签云</a>
</div>
<div class="tags y">
  {% for tag in site.tags %}
    <div class="x">
      <a id="{{ tag[0] }}" title="{{ tag[0] }}"><span>{{ tag[1].size }}</span>{{ tag[0] }}</a>
    </div>
    <div class="{{ tag[0] }} y {% if tag[1].size > 8 %} scrollContent {% endif %}" tag="{{ tag[0] }}">
      <a href="#">{{ tag[0] }}</a>
    </div>
  {% endfor %}
</div>
</div>