
        <div id="category">
            <h4>文章分类</h4>
            <div class="list-content">
              {% for category in site.categories %}
              <li><a href="/category.html#{{ site.pre-cate }}{{ category | first }}">{{ category | first }}<span class="cate-size">{{ category | last | size }}</span></a></li>
              {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
        <div id="tag">
            <h4>标签</h4>
            <div  class="tag-cloud">
                {% for tag in site.tags %}
                  {% assign temp = tag[1].size %}
                  {% assign base = temp | divided_by: 4 %}
                  {% assign remain = temp | modulo: 4 %}
                  {% if remain == 0 %}
                    {% assign size = base | plus: 9 %}
                  {% elsif remain == 1 or remain == 2 %}
                    {% assign size = base | plus: 9 | append: '.5' %}
                  {% else %}
                    {% assign size = base | plus: 10 %}
                  {% endif %}
                  {% if remain == 0 or remain == 1 %}
                    {% assign color = 9 | minus: base %}
                  {% else %}
                    {% assign color = 8 | minus: base %}
                  {% endif %}
                  <a href="/tag.html#{{ site.pre-tag }}{{ tag[0] }}" title="{{ tag[1].size }}" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
                {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
        <div id="comment">
            <h4>最近评论</h4>
            <!-- 多说最新评论 start -->
              <div class="ds-recent-comments" data-num-items="5" data-show-avatars="0" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="67"></div>
            <!-- 多说最新评论 end -->
            <div class="clear"></div>
        </div>


<!-- 多说js加载开始，一个页面只需要加载一次 -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"{{ site.short_name }}"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>