        <div id="menu-pages">
          <li><a href="/">HOME</a></li>
          <li><a href="/archive.html">ALL POSTS</a></li>
          <li><a href="/contact.html">CONTACT ME</a></li>
        </div>
        <div id="category">
            <h4>CATEGORY</h4>
            <div class="list-content">
              {% for category in site.categories %}
              <li><a href="/category.html#{{ site.pre-cate }}{{ category | first }}">{{ category | first }}<span class="cate-size">{{ category | last | size }}</span></a></li>
              {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
        <div id="tag">
            <h4>TAGS</h4>
            <div  class="tag-cloud">
                {% for tag in site.tags %}
                  {% assign temp = tag[1].size %}
                  {% assign base = temp | divided_by: 4 %}
                  {% assign remain = temp | modulo: 4 %}
                  {% if remain == 0 %}
                    {% assign size = base | plus: 9 %}
                  {% elsif remain == 1 or remain == 2 %}
                    {% assign size = base | plus: 9 | append: '.5' %}
                  {% else %}
                    {% assign size = base | plus: 10 %}
                  {% endif %}
                  {% if remain == 0 or remain == 1 %}
                    {% assign color = 9 | minus: base %}
                  {% else %}
                    {% assign color = 8 | minus: base %}
                  {% endif %}
                  <a href="/tag.html#{{ site.pre-tag }}{{ tag[0] }}" title="{{ tag[1].size }}" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
                {% endfor %}
            </div>
            <div class="clear"></div>
        </div>


