<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="gongvirgil" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="gongvirgil's Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <link rel="stylesheet" href="/public/css/default.css">
    <link rel="stylesheet" href="/public/scroll/jquery.mCustomScrollbar.css">
    <script type="text/javascript" src="/public/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/public/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
  </head>
  <body>
    <!--Nav-->
    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="blog"><a href="/"><span>HOME</span></a></li>
            <li id="demo"><a href="/demo/"><span>DEMO</span></a></li>
            <li id="about"><a href="/about/"><span>ABOUT</span></a></li>
          </ul>
          <script type="text/javascript">
          $(".nav li").width(100/$(".nav li").length+"%");
          document.getElementById(window.location.href.replace('http://','').replace('https://','').split('/')[1]?window.location.href.replace('http://','').replace('https://','').split('/')[1]:'blog').className="on";
          </script>
        </div>
        <div class="cate_select">
          <span id="cate_on"></span>
        </div>
      </div>
    </div>
    <!--Nav End-->
    <div class="notice"></div>
    <div class="side_bar"></div>
    <!--Main-->
    <div class="main">
      <div class="left">
        <div class=""></div>
        <div class="home" id="home">
          <!--
          <div class="my_info x">
            <a onclick="toggle(this,'info')">HOME</a>
          </div>
          <div class="info y">
            <div class="avatar">
              <a id="avatar" href=""></a>
              <h3>GongVirgil</h3>
            </div>
            <div class="contact">
              <a href="">微博</a>
              <a href="">豆瓣</a>
              <a href="">Instagram</a>
            </div>
          </div>
          -->
          <div class="my_cate x">
            <a id="cate">目录树</a>
          </div>
          <div class="cate y">
            {% for category in site.categories %}
            <div class="x">
              <a id="{{ category | first }}"><span>{{ category | last | size }}</span>{{ category | first }}</a>
            </div>
            <div class="{{ category | first }} y {% if category.last.size > 8 %} scrollContent {% endif %}">
              {% for post in category.last %}
              <a href="{{ post.url }}"><p>{{ post.date | date:"%Y/%d/%m"}}</p>{{ post.title }}</a>
              
              {% endfor %}
            </div>
            {% endfor %}
          </div>   
          <script type="text/javascript">
            $(".scrollContent").mCustomScrollbar({
              theme:"rounded-dark",
              setWidth:"215px"
            });
          </script>
          <div class="my_tags x">
            <a id="tags">标签云</a>
          </div>
          <div class="tags y">
            {% for tag in site.tags %}
              <a href="{{site.baseurl}}/tags/?tag={{tag[0] | cgi}}" title="{{ tag[0] }}">{{ tag[0] }}<sup>{{ tag[1].size }}</sup></a>
            {% endfor %}
          </div>
        </div>
        <script type="text/javascript">
        function toggle(index){
            index.toggleClass('on').parent().siblings('.x').toggle(500).children('a').removeClass('on');
            $('.'+index.attr('id')).toggle(500).siblings('.y').hide(500);          
        }
        $('.x').on('click', 'a', function(){
          toggle($(this));
        });
        $('.cate .y').on({
          'mouseenter':function(){
            $(this).find('p').show(1000);
          },
          'mouseleave':function(){
            $(this).find('p').hide(); 
          }
        },'a');       
          function fixed(id){
            var navH = $(id).offset().top;
            $(window).scroll(function(){
              var scroH = $(this).scrollTop();
              if(scroH>=navH){
                $(id).css({"position":"fixed","top":0});
              }else if(scroH<navH){
                $(id).css({"position":"static"});
              }
            })
          }
          fixed("#home");
        </script>
      </div>
      <div class="middle">
      {{ content }}
      </div>
      <div class="right"></div>
    </div>
    <!--Main End-->
    <div class="goTop" id="goTop">
      <a title="回到顶部" class="goTop_btn" href="javascript:;"></a>
    </div>
    <!--Footer-->
    <div class="footer">
      <div class="footer_info">
        <p>
        © 2012-2014 gongvirgil.github.io  
        </p>
      </div>      
      <div class="tj"></div>      
    </div>
    <!--Footer End-->
    <script type="text/javascript">
      if ($("#goTop").length > 0){
         $(window).scroll(function(){
          if($(window).scrollTop()>200){
            $("#goTop").fadeIn(600);
          }else{
            $("#goTop").fadeOut(600);
          }
        });
         $("#goTop .goTop_btn").click(function(){
          $("body,html").animate({scrollTop:0},300);
          return false;
         });
         $(window).scroll();
      }
    $(function(){
      function animateBar($item,noAni){
        var spanLeft = $item.find('span').offset().left;
        var conLeft = $item.parent().offset().left;
        var left = spanLeft - conLeft;
        var width = $item.find('span').width() + 8;
        if(noAni){
        $('#cate_on').css({left:left,width:width})
        }else{
        $('#cate_on').stop().animate({left:left,width:width},300)
        }
      }
      var waitForFinalEvent = (function () {
        var timers = {};
        return function (callback, ms, uniqueId) {
          if (!uniqueId) {
          uniqueId = "Don't call this twice without a uniqueId";
          }
          if (timers[uniqueId]) {
          clearTimeout (timers[uniqueId]);
          }
          timers[uniqueId] = setTimeout(callback, ms);
        };
      })();
      $('.nav li')
      .mouseenter(function(){
        animateBar($(this));
      })
      .mouseleave(function(){
        animateBar($('.nav .on'));
      });
      $(window).resize(function(e){
        waitForFinalEvent(function(){
          animateBar($('.nav .on'));
        })
      })
      animateBar($('.nav .on'),true);
    });
    </script>
    <script type="text/javascript">
      function change_bg(){
        $("body").css('background','url("/public/images/bg'+Math.round(new Date().getMinutes()/5)+'.jpg") no-repeat fixed #fff');
      }
      change_bg();
      window.setInterval(change_bg, 1000*60*5);
    </script>
  </body>
</html>
