<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="gongvirgil" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="gongvirgil's Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <link rel="stylesheet" href="/public/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/default.css">
    <link rel="stylesheet" href="/public/scroll/jquery.mCustomScrollbar.css">
    <script type="text/javascript" src="/public/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/public/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/public/js/default.js"></script>
  </head>
  <body>
    <!--Header-->
    <header class="header">
      <div class="avatar">
        <img width="80" height="80" src="/public/images/me.png" class="circle">
        <a title="Virgil's Blog" href="/"><h2>Virgil's Blog</h2></a>
      </div>   
      <div class="links">
        <a title="返回主页" href="/"><i class="fa fa-home"></i></a>
        <a title="github" href="https://github.com/gongvirgil"><i class="fa fa-github"></i></a>
        <a title="weibo" href="http://weibo.com/ppmoli"><i class="fa fa-weibo"></i></a>
        <a title="返回主页" href="/"><i class="fa fa-home"></i></a>
        <a title="返回主页" href="/"><i class="fa fa-home"></i></a>
      </div> 
      <div class="calculates">  
        <div class="calculate-item">
          <a href="/"><span class="calculate-item-count"><i class="fa fa-home"></i></span><span class="calculate-item-name">首页</span></a>
        </div>
        <div class="calculate-item">
          <a href="/archive.html"><span class="calculate-item-count">{{ site.posts.size }}</span><span class="calculate-item-name">归档</span></a>
        </div>
        <div class="calculate-item">
          <a href="/category.html"><span class="calculate-item-count">{{ site.categories.size }}</span><span class="calculate-item-name">分类</span></a>
        </div>
        <div class="calculate-item">
          <a href="/tag.html"><span class="calculate-item-count">{{ site.tags.size }}</span><span class="calculate-item-name">标签</span></a>
        </div>
      </div>
    </header>
    <!--Header End-->
    <!--Main-->
    <div class="main">
      <div class="main-content">
        {{ content }}
      </div>
      <!--Footer-->
      <div class="footer">
        {% include footer.html  %}
      </div>
      <!--Footer End-->
    </div>
    <!--Main End-->
    <!--Sidebar-->
    <div class="sidebar">
      {% include side-bar.html  %}
    </div>
    <!--Sidebar End-->
    <script>
    $(function(){
      $("#sitebar-toggle-btn").click(function(event) {
        if($(this).hasClass('active')){
          $(".sidebar").fadeOut('50000');
          $(".main").animate({marginLeft: "33.3%"},1000,function(){
            $(".header").fadeIn('500');
          });
          $(this).removeClass('active');
          $(this).html('<i class="fa fa-navicon"></i>');
        }else{
          $(".header").fadeOut('50000');
          $(".main").animate({marginLeft: "0px"},1000,function(){
            $(".sidebar").fadeIn('500');
          });
          $(this).addClass('active');
          $(this).html('<i class="fa fa-close"></i>');
        }
      });
    })
    </script>
    <!--Float Btns-->
    <div class="sitebar-toggle">
      <a id="sitebar-toggle-btn"><i class="fa fa-navicon"></i></a>
    </div>
    <div class="goTop" >
      <a title="回到顶部" id="goTop_btn"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!--Float Btns End-->
    <!-- 多说js加载开始，一个页面只需要加载一次 -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"{{ site.short_name }}"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
  </body>
</html>
