<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="gongvirgil" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="gongvirgil's Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <link rel="stylesheet" href="/public/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/default.css">
    <link rel="stylesheet" href="/public/scroll/jquery.mCustomScrollbar.css">
    <script type="text/javascript" src="/public/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/public/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/public/js/default.js"></script>
  </head>
  <body>
    <!--
    <header id="home">
      <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="logo">
              <a href="/"><img src="/public/images/a.png" alt="GongVirgil" /></a>
            </div>
            <div class="menu">
              <a id="side-bar-btn"><i class="fa fa-navicon"></i></a>
            </div>
        </div>
      </div>
      <div class="header-content-wrap">
        <div class="container">
          
        </div>
      </div>
    </header>

    <div class="notice"></div>
    <div class="shadow-screen"></div>
    <div class="side-bar">
      <a id="side-bar-close-btn"><i class="fa fa-times"></i></a>
      {% include side-bar.html  %}
    </div>
    -->
    <header class="header">
      
    </header>
    <!--Main-->
    <div class="main">
      {{ content }}
    </div>
    <!--Main End-->
    <div class="goTop" >
      <a title="回到顶部" id="goTop_btn"><i class="fa fa-3x fa-caret-square-o-up"></i></a>
    </div>
    <!--Footer-->
    <div class="footer">
      {% include footer.html  %}
    </div>
    <!--Footer End-->
    <!-- 多说js加载开始，一个页面只需要加载一次 -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"{{ site.short_name }}"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
  </body>
</html>
