---
layout: default
---
<link rel="stylesheet" type="text/css" href="/public/css/index.css">
<div class="posts">
  <ul class="artical-list"  id="post_list">
    {{ content }}                               
  </ul>
  <p class="toNext">
    <a href="">下一页</a>
  </p> 
  <p class="toTOP">
    <a href="">回到顶部</a>
  </p> 
</div>
<div class=""></div>
  <!--           
  <script type="text/javascript">
    function TriggerPost(i){
      if(i && $("#post_list li[class!='out']").length>2) $("#post_list li[class!='out']").eq(0).addClass('out').fadeOut(600)
      else if(!i) $("#post_list li.out").eq($("#post_list li.out").length-1).removeClass('out').fadeIn(600)
    }
    var scrollFun=function(e){
      e=e || window.event;
      if(arguments.callee.timer) clearTimeout(arguments.callee.timer);
      arguments.callee.timer = setTimeout("TriggerPost("+(e.detail?e.detail>0:e.wheelDelta<0)+")",1);
    }
    if(document.addEventListener){
        document.addEventListener('DOMMouseScroll',scrollFun,false);
    }
    window.onmousewheel=document.onmousewheel=scrollFun;
  </script> 
  -->