---
layout: default
comments: true
---

    <link rel="stylesheet" type="text/css" href="/public/css/post.css">
    <link rel="stylesheet" type="text/css" href="/public/css/prettify.css">
    <div class="post-main">
        <div id="content">
            <div class="post">
                <div class="post_title">
                    <h1><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
                </div>
                <div class="post_relate">
                    <span class="post_date">{{ page.date|date:"%Y-%m-%d" }}</span>
                    <span class="post_tags">
                        {% for tag in page.tags %}
                            <a href="{{site.baseurl}}/tags/?tag={{ tag }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </span>
                </div>
                <div class="post_content">
                    {{ content }}            
                </div>
            </div>
            <div class="pre-next">
                <li class="pre">上一篇：{% if page.previous.title != null %}<a href="{{ page.previous.url }}">{{ page.previous.title | truncatewords:5 }}</a>{% else %}<a href="#">没有了{% endif %}</a></li>
                <li class="next">下一篇：{% if page.next.title != null %}<a href="{{ page.next.url }}">{{ page.next.title | truncatewords:5 }}</a>{% else %}<a href="#">没有了</a>{% endif %}</li>
            </div>
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
            <!-- 多说评论框 end -->
        </div>
    </div>
    <div class="post-anchor">
        <div id="BlogAnchor">
            <h4>目录<a id="AnchorContentToggle" title="收起" style="cursor:pointer;">[<span>-</span>]</a></h4>
            <div class="AnchorContent" id="AnchorContent"></div>
        </div> 
    </div>
    <div style="clear:both;"></div>
    <script type="text/javascript" src="/public/js/post.js"></script>
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"{{ site.short_name }}"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
        </script>
    <!-- 多说公共JS代码 end -->

    